<h2>Edit an artist</h2>

<form action="/artists/<%= @artist.id %> mehtod="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @artist.name() %>">

  <input type="submit" value="Update">
</form>